.search{
  &__page {
    #block-purduehub-local-tasks {
      display: none;
    }
    [aria-label="Error message"] {
      display: none;
    }
    .search-form {
      align-items: end;
      background-image: url('../images/_JAU4393.png');
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: .5fr;
      grid-template-rows: 1fr 2.5fr;
      height: 275px;
      justify-content: center;
      margin-bottom: 50px;
      position: relative;
      z-index: 0;
      @media screen and (max-width: 768px) {
        grid-template-columns: .85fr;
      }
      &:before {
        background-color: rgba(0,0,0,0.6);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
      h1 {
        color: $white;
        font-family: $united_sans_regular;
        font-size: 40px;
        font-weight: 600;
        line-height: 45px;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 2;
        @media screen and (max-width: 768px) {
          font-size: 35px;
          line-height: 40px;
        }
      }
      h2 {
        color: $white;
        font-family: $united_sans_regular;
        font-size: 40px;
        font-weight: 600;
        line-height: 45px;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 2;
        @media screen and (max-width: 768px) {
          font-size: 35px;
          line-height: 40px;
        }
      }
      .form-wrapper {
        align-self: center;
        z-index: 2;
      }
      label {
        display: none;
      }
      input[type=search] {
        font-size: 25px;
        padding: 32px 26px 26px 20px;
        width: 100%;
        @media screen and (max-width: 768px) {
          font-size: 20px;
          padding: 21px 15px 18px 15px;
        }
      }
      input[type=submit],
      .search-help-link,
      .search-advanced {
        display: none;
      }
    }
    h3 {
      a, a:visited, a:focus, a:active {
        color: $aged;
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        text-decoration: underline;
        &:hover {
          color: lighten($aged, 20%);
        }
      }
    }
  }
  &__result {
    &_item {
      border-bottom: $steel 1px solid;
      padding: 20px 0;
      @media screen and (max-width: 768px) {
        padding: 20px 16px;
      }
    }
  }
  &__snippet {
    p {
      padding-bottom: 16px;
    }
  }
}
