	body {
	/*
	 * Headings *
	 */
	h1 {
		font-family: $united-sans-regular;
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 45px;
		padding-bottom: 35px;
	}
	h2 {
		font-family: $acumin_semi_condensed;
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 38px;
		padding-bottom: 35px;
	}
	h3 {
		font-family: $acumin_semi_condensed;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 32px;
		padding-bottom: 35px;
	}
	h4 {
		font-family: $source_serif;
		font-size: 22px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 30px;
		padding-bottom: 30px;
	}
	h5 {
		font-family: $acumin_semi_condensed;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 26px;
		padding-bottom: 30px;
	}
	h6 {
		font-family: $acumin_condensed;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 25px;
		padding-bottom: 30px;
		text-transform: uppercase;
	}
	p {
		font-family: $acumin;
		font-size: 18px;
		letter-spacing: 0;
		line-height: 30px;
		padding-bottom: 50px;
	}
	a, a:active, a:focus, a:visited {
		font-family: $acumin;
		font-weight: 700;
		color: $aged;
		outline: none;
		text-decoration: underline;
		transition: all .5s ease;
		text-decoration: none;
	}
	a:hover {
		color: darken($aged, 15%);
	}
	.is-dark a, .is-dark a:active, .is-dark a:focus, .is-dark a:visited,
	a.dark, a.dark:active, a.dark:focus, a.dark:visited {
		font-family: $acumin;
		//font-size: 18px;
		font-weight: 700;
		color: $dust;
		text-decoration: underline;
	}
	.is-dark a:hover {
		color: darken($dust, 15%);
	}
	.is-black a, .is-black a:active, .is-black a:focus, .is-black a:visited {
		color: $white;
	}
	.is-black a:hover {
		color: darken($white, 15%);
	}
	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 35px;
			line-height: 40px;
		}
		h2 {
			font-size: 30px;
			line-height: 38px;
		}
	}
}
