/*
 *
 * COLORS
 *
 */

// --------- Primary color palette ----------
$boiler_maker_gold: #CFB991;
$black: #000000;
$white: #ffffff;

// --------- Digital grays ----------
$digital_gray_one: #F7F7F7;
$digital_gray_two: #EDEDED;

// --------- Gold supporting palette ----------
$dust: #EBD99F;
$field: #DDB945;
$rush: #DAAA00;
$aged: #8E6F3E;

// --------- Black supporting palette ----------
$steel: #555960;
$cool_gray: #6F727B;
$railway_gray: #9D9795;
$steam: #C4BFC0;
