{#
/**
 * @file
 * Theme override for views to display hero carousel.
 */
#}

<div class="hero-carousel carousel">
  <div class="views-element-container">
    {% for key,row in view.result %}
      <div class="item">
        {% set bg_image = view.style_plugin.getField(key, 'field_image') %}
        <figure class='cardFigure' style="background-image: url( {{ bg_image|split('"')[3] }} )">
          <h6 class='cardCategory'>{{ view.style_plugin.getField(key, 'field_college_department') }}</h6>
          <h3 class='cardTitle'>{{ view.style_plugin.getField(key, 'title') }}</h3>
        </figure>
      </div>
    {% endfor %}
  </div>
</div>
